{% extends "base.html" %}
{% block content %}
<main>
  <article>
    <header>
      <div class="ui stackable grid">
        <div class="thirteen wide column">
          <h1 class="ui header">
            {{data.title}}
            <div class="sub header">{{data.sub_title}}</div>
          </h1>
        </div>
        <div class="right aligned three wide column">
          <i class="calendar icon"></i>
          <time datetime="{{data.date.strftime('%Y-%m-%d')}}">
            {{data.date.strftime('%b %d, %Y')}}
          </time>
        </div>
      </div>
    </header>
    <div class="ui divider"></div>
    <div class="blog-main">
    {{data.html}}
    </div>
    <footer>
      <div class="ui one column grid">
        <div class="center aligned column">
          <i class="share alternate icon"></i>
          <button class="ui small twitter button" id="twitter">
            <i class="twitter icon"></i> Twitter
          </button>
          <button class="ui small linkedin button" id="linkedin">
            <i class="linkedin icon"></i> LinkedIn
          </button>
          <button class="ui small google plus button" id="google">
            <i class="google plus icon"></i> Google+
          </button>  
              <button class="ui small facebook button" id="facebook">
            <i class="facebook icon"></i> Facebook
          </button>
        </div>
      </div>
      <div class="ui divider"></div>
      <nav>
        <i class="tags icon"></i>
        {% for tag in data.tags %}
        <a href="{{tag.href}}" class="ui small tag label with topspace">{{tag.title}}</a>
        {% endfor %}  
        <div class="ui hidden divider"></div>
        <div class="ui two column grid">
          <div class="left aligned column">
            {% if data.prev is not none %}
            <a href="{{data.prev.href}}" class="ui basic blue button">
              <i class="chevron circle left icon"></i> {{data.prev.title}}
            </a>
            {% endif %}
          </div>
          <div class="right aligned column">
            {% if data.next is not none %}
            <a href="{{data.next.href}}" class="ui basic blue button">
              {{data.next.title}} <i class="chevron circle right icon"></i>
            </a>
            {% endif %}      
          </div>
        </div>
      </nav>
    </footer>
  </article>
</main>
<div class="ui divider"></div>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'sakthipriyan';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock %}
