{% extends "base.html" %}
{% block content %}
<main>
<article>
<header>
<span class="text-success pull-right">
  <i class="fa fa-calendar"></i>
  <time datetime="{{data.date.strftime('%Y-%m-%d')}}">
    {{data.date.strftime('%b %d, %Y')}}
  </time>
</span>
<div class="page-header">
<h1 class="text-primary">{{data.title}}
  <small>
    {{data.sub_title}}
  </small>
</h1>
</div>
</header>
<div class="blog-main">
{{data.html}}
</div>
<hr/>

<footer>
<i class="fa fa-tags"></i>
{% for tag in data.tags %}
  <a href="{{tag.href}}" class="btn btn-default btn-xs">{{tag.title}}</a>
{% endfor %}
</footer>
</article>
</main>
<nav>
  <ul class="pager">
{% if data.prev is not none %}
    <li class="previous">
      <a href="{{data.prev.href}}">
        <i class="fa fa-arrow-left"></i> {{data.prev.title}}
      </a>
    </li>
{% endif %}
{% if data.next is not none %}
    <li class="next">
      <a href="{{data.next.href}}">
        {{data.next.title}} <i class="fa fa-arrow-right"></i>
      </a>
    </li>
{% endif %}
  </ul>
</nav>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'sakthipriyan';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
{% endblock %}
