{% extends "base.html" %}
{% block content %}
<span class="text-danger pull-right">
  <i class="fa fa-calendar"></i>
  <time datetime="{{blog.date.strftime('%Y-%m-%d')}}">
    {{blog.date.strftime('%b %d, %Y')}}
  </time>
</span>
<div class="page-header">
<h1 class="text-primary">{{blog.title}}
  <small> 
    {{blog.sub_title}}
  </small>
</h1>
</div>
<div class="blog-main">
{{blog.html}}
</div>
<hr/>
<span> 
<i class="fa fa-tags"></i>
{% for tag in blog.tags %}
  <a href="{{tag.href}}" class="btn btn-default btn-xs">{{tag.title}}</a>
{% endfor %}
</span>

<div class="page-header">
  <h1 class="text-primary">Recent blogs</h1>
</div>
<div class="row" style="padding-top:20px">
{% for blog in blogs %}
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="text-danger pull-right">
          <i class="fa fa-calendar"></i>
            <time datetime="{{blog.date.strftime('%Y-%m-%d')}}">
              {{blog.date.strftime('%b %d, %Y')}}
            </time>
        </span>
        <h3 class="marginTop0">
          <a href="{{blog.current.href}}">
            <i class="fa fa-square-o"></i>
            {{blog.title}}
          </a>
          <br/>
          <small>{{blog.sub_title}}</small>
        </h3>
        <span>
          <a class="btn btn-primary pull-right" href="{{blog.current.href}}"><i class="fa fa-link"></i> Read</a>
          <i class="fa fa-tags"></i> 
          {% for tag in blog.tags %}
            <a href="{{tag.href}}" class="btn btn-default btn-xs">{{tag.title}}</a>
          {% endfor %}
        </span>
      </div> 
    </div>
  </div>
{% endfor %}
</div>
{% endblock %}