{% extends "base.html" %}
{% block content %}
<h1 class="text-primary">{{title}}</h1>
<table class="table">
{% for item in list.items %}
 <tr>
    <td>
      <span class="text-danger">
        <i class="fa fa-calendar"></i> {{item.date.strftime('%b %d, %Y')}}
      </span>
    </td>
    <td><a href="{{item.href}}" class="list-item">{{item.title}}</a><br/><small>{{item.sub_title}}</small></td>
    <td>
      <i class="fa fa-tags"></i> 
      {% for tag in item.tags %}
      <a href="{{tag.href}}" class="btn btn-default btn-xs">{{tag.title}}</a>
      {% endfor %}        
    </td>
  </tr>
{% endfor %}
 </table>

<nav>
  <ul class="pager">
{% if list.prev is not none %}
    <li class="previous">
      <a href="{{list.prev.href}}">
        <i class="fa fa-arrow-left"></i> {{list.prev.title}}
      </a>
    </li>
{% endif %}
{% if list.next is not none %}
    <li class="next">
      <a href="{{list.next.href}}">
        {{list.next.title}} <i class="fa fa-arrow-right"></i>
      </a>
    </li>
{% endif %}
  </ul>
</nav>
{% endblock %}