/*html {
  position: relative;
  min-height: 100%;
}
*/
/*body {
  margin-bottom: 60px;
}
*/
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}*/

#page {
  padding: 80px 15px 0;
}
/*
.container .list-inline {
  margin: 10px 0;
}*/

/*.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
*/
pre {
  background: #f8f8f8;
}

.blog-main {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}
/*
.list-item {
  font-size: 16px;
  line-height: 1.5; 
}
*/

code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
  

.with.topspace {
  margin-top: 10px;
}

.nowrap {
  white-space: nowrap;
}

.without.bottom.margin {
  margin-bottom: 0px;
}